.chat-page-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__room-controls {
        height: 5%;
        display: flex;
        z-index: 4;
    }

    &__messages-container {
        height: 87%;
        overflow-y: scroll;
        padding-top: 1.8rem;
    }

    &__message-form {
        height: 8%;
        display: flex;
        gap: 0.2rem;
        flex-direction: row;
        margin-bottom: 0.3rem;
    }
}

.message-form {
    &__input {
        width: 87%;
        font-family: "VarelaRound-Regular";
        border-radius: 0.5rem;
        margin-left: 1.5%;
        font-size: 2.3vmin;
        border: 2px solid $primary-color;
    }

    &__input:focus {
        outline: none;
        -webkit-box-shadow: 1px 1px 1px $primary-color;
        -moz-box-shadow: 1px 1px 1px $primary-color;
        box-shadow: 1px 1px 1px $primary-color;
    }

    &__send-button {
        width: 10%;
        margin-right: 1.5%;
        display: flex;
        border: none;
        background-color: transparent;
        border: 2px solid $primary-color;
        color: black;
        border-radius: 0.5rem;
        font-family: "VarelaRound-Regular";
        font-size: 1.5vmax;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    @media screen and (max-width: 900px) {
        &__input {
            font-size: 4vmin;
        }
    }

    @media screen and (max-width:500px) {
        &__input {
            width: 83%;
        }

        &__send-button {
            width: 14%;
        }
    }
}

.room-controls {
    &__info-button {
        color: $primary-color;
        font-size: 4vmax;
        border: none;
        background-color: transparent;
        margin-right: auto;
        cursor: pointer;
        transition: transform 0.2s;
    }

    &__info-button:active {
        transform: scale(0.7);
    }

    &__change-room-button {
        color: $primary-color;
        font-size: 4vmax;
        border: none;
        background-color: transparent;
        margin-left: auto;
        cursor: pointer;
    }
}