.join-room-page-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

.join-room-page-container {
    &__animation-container {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
    }

    &__room-data-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        width: 70%;
        z-index: 2;
        gap: 0.8rem;
    }
}

.room-data-form {
    &__nickname-input, &__room-id-input, &__submit-button {
        padding: 0.7rem;
        -webkit-box-shadow: 0.1rem 0.1rem 0.3rem black;
        -moz-box-shadow: 0.1rem 0.1rem 0.3rem black;
        box-shadow: 0.1rem 0.1rem 0.3rem black;
        font-family: "VarelaRound-Regular";
        font-size: 2rem;
        border-radius: 0.5rem;
    }

    &__nickname-input:focus, &__room-id-input:focus {
        outline: none;
        -webkit-box-shadow: 0.2rem 0.2rem 0.4rem black;
        -moz-box-shadow: 0.2rem 0.2rem 0.4rem black;
        box-shadow: 0.2rem 0.2rem 0.4rem black;
    }

    &__submit-button {
        border: none;
        background-color: black;
        cursor: pointer;
        color: white;
    }
}
