.join-room-page-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

.join-room-page-container {
    &__animation-container {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
    }
}
