/// color variables
$primary-color: #06C0D5;
$secondary-color: #E3E7EC;
$text-primary-color: black;
$loader-container-main-bg-color: white;

/// cubic-beziers
$main-cubic-bezier: cubic-bezier(0.77,0.2,0.05,1.0);